@font-face {
  font-family: 'Vazir';
  src: url('Vazir.eot');
  src:
    url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir.woff') format('woff'),
    url('../fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #252a36 !important;
  font-family: 'Vazir', 'tahoma', 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove spinner (up/down arrows) from number inputs in all browsers */

/* Chrome, Safari, Edge, Opera: hide spin buttons */

input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder {
  color: #f8f8f4;
}

input[type='text'],
input[type='email'],
input[type='number'] {
  color: #f8f8f4 !important;
  background-color: #44475a !important;
  border-color: #bd93f9 !important;
}

.form-control {
  background-color: #44475a !important;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Autofill fix for Chrome, Safari, Edge */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #44475a inset !important;
  box-shadow: 0 0 0 1000px #44475a inset !important;
  -webkit-text-fill-color: #f8f8f4 !important;
  color: #f8f8f4 !important;
  border-color: #bd93f9 !important;
  transition: background-color 5000s ease-in-out 0s;
}
